<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}openLMS{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/open-lms-base.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">openLMS</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('courses') }}">Courses</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Trainings <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('homepage') }}">Home link</a></li>
                        <li><a href="{{ path('homepage') }}">Home link</a></li>
                        <li><a href="{{ path('homepage') }}">Home link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('homepage') }}">Home link</a></li>
                        <li><a href="{{ path('homepage') }}">Home link</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('homepage') }}">My Learning</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block basecontent %}
    <div id="base-container" class="container">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-1.12.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>
