{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/openlmsbase/css/open-lms-courses.css') }}">
{% endblock stylesheets %}

{% block content %}
    <div class="row">
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-7">
        {% for course in courses %}
            <div class="course-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="course-content">
                    <div class="course-thumbnail">
                        <a href="#">
                            <img src=""
                                 alt="{{ course.name }}"
                                 class="img-responsive"> </a>
                        <a class="course-readmore hidden" href="#">ReadMore</a></div>
                    <div class="course-thim-content">

                        <div class="course-author">
                            <img src=""
                                 alt="{{ [course.courseInstructor.firstName, course.courseInstructor.lastName]|join(' ') }}"
                                 class="img-circle center-block"
                                 height="44"
                                 width="44">
                            <div class="author-contain text-center">
                                <div>
                                    <a href="{{ path('course_instructor_homepage',{'homepageSlug':course.courseInstructor.homepageSlug}) }}">
                                        {{ [course.courseInstructor.firstName, course.courseInstructor.lastName]|join(' ') }}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <h4 class="course-title">
                            <a href="#">{{ course.name }}</a>
                        </h4>

                        <div class="course-meta">
                            <p><i class="fa fa-group"></i> 8</p>
                            <p><i class="fa fa-comment"></i> 2</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="">
            <h3>Search</h3>
        </div>
        <div class="">
            <h3>Recent Courses</h3>
        </div>
        <div class="">
            <h3>Categories</h3>
        </div>
        <div class="">
            <h3>Tags</h3>
        </div>
    </div>
{% endblock %}